:root{
    --mien-color:#ffa44f;

}

/* body{
      direction: rtl;
} */

/* start header */
.header{
background-color:black;
    display: flex;
    width: 100%;
    height: 65px;
    position: relative;
    justify-content: space-between;
}
.header .logo {
color: var(--mien-color);

    padding: 7px;
    font-size: 35px;
    font-weight: bold;
}

.toggle-menu {
background: none;
border: none;
width: 40px;
cursor: pointer;
margin-top: 15px;
display: none;
position: relative;
}
.toggle-menu:focus { 
    outline: none;
}
.toggle-menu.menu-active::before { 
content: "";
border-width:10px ;
border-style: solid;
position: absolute;
border-color: transparent transparent #fff transparent;
bottom: -15px;
left: 10px;
margin-bottom: 22px;
}

.toggle-menu span {
display: block;
background-color: #FFF;
height: 4px;
margin-bottom: 4px;
}

@media(max-width: 991px){
.serves{
display: none;
}

 .serves.open {
background-color: #FFF;
padding: 10px;
display: block;
position: absolute;
left: 0;
top: 57px;
width: 100%;
border-radius: 4px;
}
@media(max-width: 991px){
.header .serves ul{
    display: flex;
    justify-content: right;
    text-align: center;
    gap: 0;
    gap: 5px;
    flex-direction: column;
}
}
 .serves.open ul {
    display: flex;
    justify-content: right;
    text-align: center;
    gap: 0;
    gap: 5px;
    flex-direction: column;
 }
 .serves.open li {
color: var(--main-color);
font-weight: bold;
display: block;
margin: 10px;

}
.toggle-menu {
display: inline-block;
}
}
/**/
.header .serves ul{
list-style: none;
    display: flex;

    justify-content: right;
    text-align: right;
}
@media(min-width: 991px){
.header .serves ul{
    gap: 230px;
/*  */
}
}
.header .serves ul li{
    color:  var(--mien-color);
    font-weight: bold;
    font-size: 20px;

}

/* .header .serves ul li:hover {
color: var(--mien-color);

} */

.header img{
    width: 42px;
    margin-right: 10px;
    padding: 2px;;
}
/* end header */

/* start landing */
.landing{
    padding-top: 80px;
padding-bottom: 80px;
    background-color: rgb(34 34 34);

}

.landing .text {
    text-align: center;
}

.landing .text h1 {
font-weight: bold;
margin: 10px;
color: #fff;
    font-size: 30px;

}
.landing .text h2 {
font-weight: bold;
margin: 10px;
color: var(--mien-color);
    font-size: 40px;

}
.landing .text p {
        color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.landing .img{
  text-align: center;
    width: 700px;
    height: 500px;
    border-radius: 20px;
    background-color: black;
    margin: auto;
    margin-top: 60px;

}



.landing .img .iamg {
    width: 650px;
    height: 460px;
    border-radius: 30px;
    background-image: url(../../1.jpg);
    background-size: cover;
    margin: auto;
    position: relative;
    top: 20px;
}

/* end landing */


 /* start pruodcs */
.proudcs {
    background-color: #eaeaea;
    padding: 50px;
}
.proudcs h1 {
text-align: center;
    padding: 60px;
    margin: 0;
    position: relative;
}
.proudcs h1::before {
    content: "";
    width: 140px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: -7px;
    bottom: 58px;
}
.proudcs h1::after{
    content: "";
    width: 140px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: -133px;
    bottom: 53px;
}

.proudcs .pro {
    position: relative;
    width: calc((90% / 4));
    float: left;
        margin-left: 24px; 
}

.proudcs .cont {
width: 240px;
height: 180px;
display: flex;
    border: 2px solid var(--mien-color);
    border-radius: 10px;

}
.proudcs .cont .left,
.proudcs .cont .right{
flex: 1;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 10px
 }
.proudcs .cont .left {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding-left: 15px;
}
.proudcs .cont .right {
    background-color: #ddd;
    position: relative;
    padding-left: 15px;
    border-radius: 10px;
    
}
.proudcs .cont .right::before {
content: "";
position: absolute;
left: 0px;
top: 7%;
bottom: 7%;
width: 2px;
background-color:#ffa44f;

}
.proudcs .cont h3 {
    margin: 0;
    font-weight: bold;
}
.proudcs .name{
    text-align: center;
}
.proudcs  .one::after {
    content: "";
    width: 55px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: -45px;
    bottom: 198px;
}
.proudcs  .two::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: -54px;
    bottom: 198px;
}
.proudcs  .three::after {
    content: "";
    width: 150px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: -151px;
    bottom: 198px;
}
.proudcs  .fuor::after {
    content: "";
    width: 85px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: -86px;
    bottom: 197px;
}
.proudcs  .faiv::after {
    content: "";
    width: 80px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: -86px;
    bottom: 198px;
}
.proudcs  .sex::after {
content: "";
    width: 90px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: -93px;
    bottom: 200px;
}
.proudcs  .seven::after {
    content: "";
    width: 135px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: -137px;
    bottom: 199px;
}
.proudcs  .eght::after {
    content: "";
    width: 65px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: -73px;
    bottom: 195px;
}
.proudcs .one::before {
    content: "";
    width: 55px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: -4px;
    bottom: 193px;
}
.proudcs .two::before {
content: "";
    width: 60px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: -6px;
    bottom: 193px;
}
.proudcs .three::before {
content: "";
    width: 148px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: 5px;
    bottom: 193px;
}
.proudcs .fuor::before {
    content: "";
    width: 85px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: -1px;
    bottom: 191px;
}
.proudcs .faiv::before {
    content: "";
    width: 80px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: -1px;
    bottom: 193px;
}
.proudcs .sex::before {
    content: "";
    width: 90px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: -1px;
    bottom: 194px;
}
.proudcs .seven::before {
content: "";
    width: 135px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: -2px;
    bottom: 193px;
}
.proudcs .eght::before {
    content: "";
    width: 55px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: 11px;
    bottom: 190px;
}
.proudcs .cont p {
line-height: 1.2;
font-weight: bold;
display: flex;
    align-items: center;
    text-align: center;
}

/* start img pruodcs */
.proudcs .pro-img {
    position: relative;
    width: calc((90% / 4));
    float: left;
        margin-left: 24px; 
}

.proudcs .pro-img .imge-one {
    background-image: url(../../iamg/2.jpg);
        position: relative;
}
.proudcs .pro-img .imge-two {
    background-image: url(../../1.jpg);
            position: relative;
}
.proudcs .pro-img .imge-three {
    background-image: url(../../1.jpg);
}
.proudcs .pro-img .imge-fuor {
    background-image: url(../../1.jpg);
}
.proudcs .pro-img .imge-faif {
    background-image: url(../../1.jpg);
}
.proudcs .pro-img .imge-sex {
    background-image: url(../../1.jpg);
}
.proudcs .pro-img .imge-seven {
    background-image: url(../../1.jpg);
}
.proudcs .pro-img .imge-eat {
    background-image: url(../../1.jpg);
}




/* end img pruodcs */
 /* end pruodcs */

.clear-fix {
    clear: both;
}

/* start who we */
.we {
        padding: 80px;
    display: flex
;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
}
 .text h1 {
    margin: 0;
    color: var(--mien-color);
    margin-top: 10px;
                font-weight: bold;
 }
 .text h2 {
    margin: 0;
    margin-top: 10px;
    color: var(--mien-color);
                font-weight: bold;
 }


.detils {
    width: 600px;
    height: 250px;
    text-align: center;
}
.detils  h1{
    color: var(--mien-color);
    margin-bottom: 0;
                font-weight: bold;
}

.detils  h1::before {
    content: "";
    width: 70px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: 1px;
    margin-top: 35px;
 } 
.detils  h1::after {
    content: "";
    width: 70px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: -65px;
    margin-top: 39px;
 } 


.detils p{
    color: #333;
    padding: 15px;
            font-weight: bold;
        line-height: 1.4;
}




/* end who we */



/* start serves */
.mine-serves {
padding-top: 80px;
padding-bottom: 80px;
}

.mine-serves h1 {
text-align: center;
    padding: 20px;
    margin: 0;
    color: var(--mien-color);
    font-weight: bold;
    margin-bottom: 35px;
}
.mine-serves h1::after {
    content: "";
    width: 70px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: -71px;
    margin-top: 30px;
}
.mine-serves h1::before {
    content: "";
    width: 70px;
    height: 2px;
    background-color: var(--mien-color);
    position: absolute;
    margin-left: 1px;
    margin-top: 35px;
}

.mine-serves .conteiner{
    display: flex;
        justify-content: space-between;
    gap: 15px; 
    padding: 10px;

}


.card{
    flex: none;
    width: 300px;
    height: 250px;
    background-color: white;
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    text-align: center;

}
 .card h3{
    margin: 0;
}
 .card h2{
    margin: 10px;
    color: var(--mien-color);
    font-weight: bold;
}
 .card p{
    padding: 2px;
    color: #444;
        font-weight: bold;
        line-height: 1.3;
}








/* end serves */
/* start communicate */
.comm{
background-color:#a1a1a1 ;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
.comm h5{
text-align: center;
    font-size: 20px;
    margin: 0;
    color: var(--mien-color);
font-weight: bold;

}
.comm h1{
    text-align: center;
    font-size: 45px;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.comm .conteiner{
        width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.co{
    position: relative;
    z-index: 2;
    width: calc((80% / 3));
    float: left;
    background-color: white;
    padding: 20PX;
    margin: 19px;
    height: 179px;
}


/*  end communicate */



.wathsap {
    position: fixed;
    top: 92%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 1000;
    left: 25px;
    
}

.wathsap .weth{
    width: 40px;
    height: 40px;
    border: 3px solid green;
    margin: 10px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    background-color: green;
}
.wathsap .phone{
    width: 40px;
    height: 40px;
    border: 3px solid #233a7d;
    margin: 10px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    background-color: #233a7d;
}

.wathsap .weth i{
text-align: center;
color: white;
display: flex;
    flex-direction: column;
    margin: 4px;
    font-size: 30px;
    font-weight: bold;
}
.wathsap .phone i{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 6px;
    font-size: 25px;
    font-weight: bold;
}

